.header__logo {
    display: flex;
    align-items: center;
    margin-right: 88px;
    color: var(--logo-black-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    list-style: none;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }

    & span {
        color: var(--accent-text-color);
    }
}
