.hero { 
    max-width: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient( to right,
    var(--hero-gradient-color),
    var(--hero-gradient-color)),
    url(../images/hero-mobile.jpg);

   @media screen and (max-width: 480px) and
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient( to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        url(../images/hero-mobile@2x.jpg);
     }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--hero-background-color);
    
    text-align: center;

    @media screen and (min-width: 481px) {
        max-width: 767px;
        background-image: linear-gradient( to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        url(../images/hero-tablet.jpg);
    
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 481px),
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
        background-image: linear-gradient( to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        url(../images/hero-tablet@2x.jpg);
    }
    }

    @media screen and (min-width: 768px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
         background-image: linear-gradient( to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        url(../images/hero.jpg);

        @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) , 
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient( to right,
        var(--hero-gradient-color),
        var(--hero-gradient-color)),
        url(../images/hero-desktop@2x.jpg);
  }

    }

    &__title {
    margin-bottom: 30px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

@media screen and (min-width: 1200px) {

    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
}

}

    &__button {
    transition: background-color 250ms var(--cubic);

    padding: 10px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   
    background-color: var(--accent-text-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        padding: 10px 32px;
    }

&:hover,
&:focus {
    background-color: var(--button-active-color);
}
}
}

