.portfolio-btns {
    max-width: 326px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
    margin-bottom: 40px;
    
    @media screen and (min-width: 768px) {
        max-width: 100%;
        justify-content: center;
        margin-bottom: 50px;
        flex-wrap: nowrap;
        row-gap: 0;
    }
    

&__button {
    transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
    padding: 6px 22px;
    min-width: 73px;
    border: transparent;

    text-align: center;
    color: var(--title-text-color);
    background-color: var(--grey-bgr-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    letter-spacing: 0.03em;
    border-radius: 4px;

    &:hover,
    &:focus {
    color: var(--white-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    @media screen and (min-width: 768px) {
        column-gap: 30px;
    }

&__thumb {
    position: relative;

    overflow: hidden; 
    pointer-events: none;
}
&__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms var(--cubic); 
}

&__link:hover &__overlay,
&__link:focus &__overlay {
transform: translateY(0);
box-shadow: var(--portfolio-shadow-color);
}

&__overlay--text {
    margin: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
}
&__link {
    transition: box-shadow 250ms var(--cubic);
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}
&__items {
    width: 450px;
   
    @media screen and (min-width: 768px) {
        width: 354px;
}
    @media screen and (min-width: 1200px) {
        width: 370px;
}
}

&__link:hover,
&__link:focus {
    box-shadow: var(--portfolio-shadow-color);
}

&__items &__item {
    padding: 20px 24px;
    border-bottom: 1px solid var(--card-outline-color);
    border-left: 1px solid var(--card-outline-color);
    border-right: 1px solid var(--card-outline-color);
    flex-grow: 1;
  
}
&__subtitle {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
&__text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}
}
